<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Locale.welcome}}</title>
    <link rel="apple-touch-icon" sizes="64x64" href="/static/img/icon64.ico">
    <link rel="apple-touch-icon" sizes="128x128" href="/static/img/icon128.ico">
    <link rel="icon" type="image/x-icon" sizes="64x64" href="/static/img/icon64.ico">
    <link rel="icon" type="image/x-icon" sizes="128x128" href="/static/img/icon128.ico">
    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='/static/css/googlefonts.css' rel='stylesheet' type='text/css'>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!--MailBox Stylesheet [ REQUIRED ]-->
    <link href="/static/css/mailbox.css" rel="stylesheet">
    <!-- MailBox Premium Icon -->
    <link href="/static/css/mailbox/mailbox-icons.css" rel="stylesheet">
    <!--mailbox [ DEMONSTRATION ]-->
    <link href="/static/css/mailbox/mailbox.css" rel="stylesheet">
    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="/static/css/mailbox/magic-check.css" rel="stylesheet">
    <link href="/static/css/xmail.css" rel="stylesheet">
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="/static/css/mailbox/pace.css" rel="stylesheet">

    <!--    <link href="//at.alicdn.com/t/font_1612337_n6wgcxmt6c.css" rel="stylesheet">-->
    <script src="/static/js/pace.js"></script>
    <!--jQuery [ REQUIRED ]-->
    <script src="/static/js/jquery.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="/static/js/bootstrap.js"></script>
    <!--MailBoxJS [ RECOMMENDED ]-->
    <script src="/static/js/mailbox.js"></script>

    <script type="text/javascript" src="/static/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/js/xmail.js"></script>
    <!--引入fontjs文件， 来自fonticon.cn, 项目完成时替换为本地版本-->
    <script src="//at.alicdn.com/t/font_1612337_vtjzior6bi.js"></script>
</head>
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">
    <!--NAVBAR-->
    <!--===================================================-->
    <header id="navbar">
        <div id="navbar-container" class="boxed">
            <!--Brand logo & name-->
            <!--================================-->
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <div class="brand-title">
                        <span class="brand-text">XMAIL</span>
                    </div>
                </a>
            </div>
            <!--================================-->
            <!--End brand logo & name-->
            <!--Navbar Dropdown-->
            <!--================================-->
            <div class="navbar-content clearfix">
                <ul class="nav navbar-top-links pull-left">
                    <!--Mega dropdown-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <li class="mega-dropdown">
                        <a href="#" class="mega-dropdown-toggle">
                            <i class="glyphicon glyphicon-list"></i>
                        </a>
                        <div class="dropdown-menu mega-dropdown-menu">
                            <div class="row">
                                <div class="col-sm-4 col-md-3">
                                    <!--Mega menu list-->
                                    <ul class="list-unstyled">
                                        <li class="dropdown-header">
                                            <svg class="xmail-icon svg-menu" aria-hidden="true">
                                                <use xlink:href="#icon-links"></use>
                                            </svg>
                                            {{.Locale.links}}
                                        </li>
                                        <li><a href="https://github.com/mxuanp/xmail">
                                                <svg class="xmail-icon svg-menu" aria-hidden="true">
                                                    <use xlink:href="#icon-GitHub"></use>
                                                </svg>
                                                {{.Locale.github}}</a></li>
                                        <li><a href="https://yaya.life">
                                                <svg class="xmail-icon svg-menu" aria-hidden="true">
                                                    <use xlink:href="#icon-blog"></use>
                                                </svg>
                                                {{.Locale.blog}}</a></li>
                                        <li><a href="/about">
                                                <svg class="xmail-icon svg-menu" aria-hidden="true">
                                                    <use xlink:href="#icon-about"></use>
                                                </svg>
                                                {{.Locale.about}}</a></li>
                                        <li><a href="https://t.me/yayanogroup">
                                                <svg class="xmail-icon svg-menu" aria-hidden="true">
                                                    <use xlink:href="#icon-telegram"></use>
                                                </svg>
                                                {{.Locale.telegram}}</a></li>
                                        <li><a href="mailto:kamiyamayo7@gmail.com">
                                                <svg class="xmail-icon svg-menu" aria-hidden="true">
                                                    <use xlink:href="#icon-email"></use>
                                                </svg>
                                                {{.Locale.email}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End mega dropdown-->
                </ul>
                <ul class="nav navbar-top-links pull-right">
                    <!--语言选项-->
                    <li class="dropdown" id="select">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                            <div class="username hidden-xs">{{.CurrentLang.Name}}</div>
                            <span class="pull-right">
                                <svg class="xmail-icon svg-menu" aria-hidden="true">
                                    <use xlink:href="#{{.CurrentLang.Icon}}"></use>
                                </svg>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">
                            <ul class="head-list">
                                {{range $lang := .Languages}}
                                    <li>
                                        <a onclick="selectLang({{.Value}})">
                                            <svg class="xmail-icon svg-menu" aria-hidden="true">
                                                <use xlink:href="#{{.Icon}}"></use>
                                            </svg>
                                            {{.Name}}
                                        </a>
                                    </li>
                                {{end}}
                            </ul>
                        </div>
                    </li>
                    <!--User dropdown-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <li id="dropdown-user" class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    <!--<img class="img-circle img-user media-object" src="img/profile-photos/1.png" alt="Profile Picture">-->
                                    <i class="mailbox-pli-male ic-user"></i>
                                </span>
                            <div class="username hidden-xs">{{.CurrentUser.Email}}</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">
                            <!-- User dropdown menu -->
                            <ul class="head-list">
                                {{range $user := .Users}}
                                    <li>
                                        <a onclick="selectUser({{.Email}})">
                                            <i class="mailbox-pli-male ic-user"></i>
                                            {{.Email}}
                                        </a>
                                    </li>
                                {{end}}
                                <li>
                                    <a href="/login">
                                        <svg class="xmail-icon svg-menu" aria-hidden="true">
                                            <use xlink:href="#icon-adduser"></use>
                                        </svg>
                                        {{.Locale.adduser}}
                                    </a>
                                </li>
                            </ul>
                            <!-- Dropdown footer -->
                            <div class="pad-all text-right">
                                <a href="/api/logout" class="btn btn-primary">
                                    <i class="mailbox-pli-unlock"></i> {{.Locale.logout}}
                                </a>
                            </div>
                        </div>
                    </li>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End user dropdown-->
                    <!--关机选项-->
                    <li class="xmail-menu" onclick="shutdown()">
                        <svg class="xmail-icon svg-menu" aria-hidden="true">
                            <use xlink:href="#icon-tubiao"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#" class="aside-toggle navbar-aside-icon">
                            <i class="pci-ver-dots"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--================================-->
            <!--End Navbar Dropdown-->
        </div>
    </header>
    <!--===================================================-->
    <!--END NAVBAR-->
    <!--  Search Starts Here -->
    <section>
        <div class="container">
            <div class="row">
                <div id="custom-search-input">
                    <div class="input-group col-md-3 col-sm-12 pull-left col-md-offset-1 col-sm-offset-5 col-xs-offset-3"
                         style="margin-top: 60px !important;">
                        <a href="/index"><h1>XMAIL</h1></a>
                    </div>
                    <div class="input-group col-md-7 pull-right col-sm-offset-1" style="margin-top: 80px !important;">
                        <input type="text" class="  search-query form-control" placeholder="{{.Locale.search}}"
                               style="height:35px;" id="search-content"/>
                        <span class="input-group-btn">
                              <button class="btn btn-danger" type="button" id="search" onclick="search()">
                                   <span class=" glyphicon glyphicon-search"></span>
                              </button>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--  Search Ends Here -->
    <div class="boxed">
        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div class="container" style="padding-top: 40px;">
            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">
                <!-- MAIL INBOX -->
                <div class="container">
                    <div class="col-md-3">
                        <div class="panel">
                            <div class="pad-all bord-btm">
                                <a href="/compose" class="btn btn-block btn-success">{{.Locale.compose}}</a>
                            </div>
                            <p class="pad-hor mar-top text-main text-bold">{{.Locale.folders}}</p>
                            <div class="list-group bg-trans pad-btm bord-btm">
                                <a href="/index" class="list-group-item text-semibold text-main">
                                    <span class="badge badge-success pull-right">7</span>
                                    <span class="text-main"><i
                                                class="mailbox-pli-inbox-full icon-lg icon-fw"></i>{{.Locale.inbox}}</span>
                                </a>
                                <a href="/drafts" class="list-group-item">
                                    <span class="badge badge-info pull-right">3</span>
                                    <span class="text-main"><i
                                                class="mailbox-pli-file icon-lg icon-fw"></i>{{.Locale.draft}}</span>
                                </a>
                                <a href="/sent" class="list-group-item">
                                    <span class="badge badge-pink pull-right">4</span>
                                    <span class="text-main"><i
                                                class="mailbox-pli-mail-send icon-lg icon-fw"></i>{{.Locale.sent}}</span>
                                </a>
                                <a href="/spam" class="list-group-item text-semibold">
                                    <span class="badge badge-danger pull-right">3</span>
                                    <span class="text-main"><i
                                                class="mailbox-pli-fire-flame-2 icon-lg icon-fw"></i>{{.Locale.spam}}</span>
                                </a>
                                <a href="/trash" class="list-group-item">
                                    <span class="badge badge-warning pull-right">3</span>
                                    <span class="text-main"><i
                                                class="mailbox-pli-recycling icon-lg icon-fw"></i>{{.Locale.trash}}</span>
                                </a>
                            </div>
                            {{/*                            <div class="list-group bg-trans pad-ver">*/}}
                            {{/*                                <a href="#" class="list-group-item"><i*/}}
                            {{/*                                            class="mailbox-pli-male-female icon-lg icon-fw"></i> Address Book</a>*/}}
                            {{/*                                <a href="#" class="list-group-item"><i*/}}
                            {{/*                                            class="mailbox-pli-folder-with-document icon-lg icon-fw"></i> User*/}}
                            {{/*                                    Folders</a>*/}}
                            {{/*                            </div>*/}}
                            <!-- Friends -->
                            {{/*                            <div class="list-group bg-trans pad-ver bord-ver">*/}}
                            {{/*                                <p class="pad-hor text-main text-bold"><span*/}}
                            {{/*                                            class="pull-right label label-info">New</span>Friends</p>*/}}
                            {{/*                                <!-- Menu list item -->*/}}
                            {{/*                                <a href="#" class="list-group-item list-item-sm">*/}}
                            {{/*                                    <span class="badge badge-purple badge-icon badge-fw pull-left"></span>*/}}
                            {{/*                                    Joey K. Greyson*/}}
                            {{/*                                </a>*/}}
                            {{/*                            </div>*/}}
                            {{/* =======================================================   */}}
                            {{/*                            <p class="pad-hor text-main text-bold">Labels</p>*/}}
                            {{/*                            <ul class="list-inline mar-hor">*/}}
                            {{/*                                <li class="tag tag-sm">*/}}
                            {{/*                                    <a href="#"><i class="mailbox-pli-tag"></i> Family</a>*/}}
                            {{/*                                </li>*/}}
                            {{/*                            </ul>*/}}
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="panel">
                            <div id="mailbox-email-list" class="panel-body">
                                <h1 class="page-header text-overflow pad-btm">{{.Locale.sent}} (4)</h1>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <!-- Mail toolbar -->
                                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                        <!--Split button dropdowns-->
                                        <div class="btn-group">
                                            <button data-toggle="dropdown"
                                                    class="btn btn-sm btn-default dropdown-toggle" style="padding: 0;">
                                                <div id="mailbox-checked-all-mail" class="btn btn-sm btn-default"
                                                     style="border:none !important;">
                                                    <svg class="xmail-icon-sm" aria-hidden="true">
                                                        <use xlink:href="#icon-moreinfo"></use>
                                                    </svg>
                                                    <label for="select-all-mail"></label>
                                                </div>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="javascript:void(0)"
                                                       onclick="selectAllBox()">{{.Locale.all}}</a>
                                                </li>
                                                <li><a href="javascript:void(0)"
                                                       id="mailbox-select-none-list">{{.Locale.none}}</a>
                                                </li>
                                                <li class="divider"></li>
                                                {{/*                                                <li><a href="javascript:void(0)" id="mailbox-select-read-list">Read</a>*/}}
                                                {{/*                                                </li>*/}}
                                                {{/*                                                <li><a href="javascript:void(0)"*/}}
                                                {{/*                                                       id="mailbox-select-unread-list">Unread</a></li>*/}}
                                                {{/*                                                <li><a href="javascript:void(0)" id="mailbox-select-starred-list">Starred</a>*/}}
                                                {{/*                                                </li>*/}}
                                            </ul>
                                        </div>

                                        <!--Refresh button-->
                                        <button id="mailbox-mail-ref-btn" data-toggle="tooltip" data-placement="bottom"
                                                title="{{.Locale.refresh}}"
                                                class="btn btn-default btn-sm"
                                                type="button">
                                            {{/*                                            <i class="mailbox-psi-repeat-2"></i>*/}}
                                            <svg class="xmail-icon-sm" aria-hidden="true">
                                                <use xlink:href="#icon-repeat"></use>
                                            </svg>
                                        </button>
                                        <!--Archive button-->
                                        <button id="archive-btn" class="btn btn-default btn-sm" type="button"
                                                data-toggle="tooltip" data-placement="bottom"
                                                title="{{.Locale.archive}}">
                                            <svg class="xmail-icon" aria-hidden="true">
                                                <use xlink:href="#icon-archive"></use>
                                            </svg>
                                        </button>
                                        <!--Delete button-->
                                        <button id="delete-btn" class="btn btn-default btn-sm" type="button"
                                                data-toggle="tooltip" data-placement="bottom"
                                                title="{{.Locale.delete}}">
                                            <svg class="xmail-icon" aria-hidden="true">
                                                <use xlink:href="#icon-delete"></use>
                                            </svg>
                                        </button>
                                        <button id="star-btn" class="btn btn-default btn-sm" type="button"
                                                data-toggle="tooltip" data-placement="bottom" title="{{.Locale.star}}">
                                            <svg class="xmail-icon" aria-hidden="true">
                                                <use xlink:href="#icon-star1"></use>
                                            </svg>
                                        </button>
                                        <button id="unstar-btn" class="btn btn-default btn-sm" type="button"
                                                data-toggle="tooltip" data-placement="bottom"
                                                title="{{.Locale.unstar}}">
                                            <svg class="xmail-icon" aria-hidden="true">
                                                <use xlink:href="#icon-star"></use>
                                            </svg>
                                        </button>

                                        <div class="btn-group">
                                            <button id="move-btn" class="btn btn-default btn-sm" type="button"
                                                    data-toggle="dropdown" data-placement="bottom"
                                                    title="{{.Locale.move}}">
                                                <svg class="xmail-icon" aria-hidden="true">
                                                    <use xlink:href="#icon-move"></use>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a onclick="moveToSpam()">{{.Locale.spam}}</a></li>
                                                <li><a onclick="moveToTrash()">{{.Locale.trash}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr class="hr-sm visible-xs">
                                    <div class="col-sm-5 clearfix">
                                        <div class="pull-right">
                                            <!--Pager buttons-->
                                            <span class="text-muted">
					                                <strong class="page-num">1-50</strong> of <strong>{{.Count}}</strong>
                                            </span>
                                            <div class="btn-group btn-group">
                                                <button class="btn btn-sm btn-default" type="button">
                                                    <svg class="xmail-icon" aria-hidden="true">
                                                        <use xlink:href="#icon-prepage"></use>
                                                    </svg>
                                                </button>
                                                <button class="btn btn-sm btn-default" type="button">
                                                    <svg class="xmail-icon" aria-hidden="true">
                                                        <use xlink:href="#icon-nextpage"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-sm">

                                <!-- Mail List Starts Here-->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel with-nav-tabs panel-default"
                                             style="border: 1px solid #ffffff !important;">

                                            <div class="panel-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active" id="primary">
                                                        <!--Mail list group-->
                                                        <ul id="mailbox-mail-list" class="mail-list">

                                                            <!--Mail list item-->
                                                            <li class="mail-list-unread mail-attach">
                                                                <div class="mail-control">
                                                                    <input id="email-list-1" class="magic-checkbox"
                                                                           type="checkbox">
                                                                    <label for="email-list-1"></label>
                                                                </div>
                                                                <div class="mail-star"><a href="#"><i
                                                                                class="mailbox-psi-star"></i></a></div>
                                                                <div class="mail-from"><a href="#">James Tran</a></div>
                                                                <div class="mail-time">05:55 PM</div>
                                                                <div class="mail-attach-icon"></div>
                                                                <div class="mail-subject">
                                                                    <a href="mailbox-message.html">This is an example if
                                                                        there is a really really long text. Lorem ipsum
                                                                        dolor sit amet, consectetur adipiscing elit, sed
                                                                        do eiusmod tempor incididunt ut labore et dolore
                                                                        magna aliqua. Ut enim ad minim veniam, </a>
                                                                </div>
                                                            </li>

                                                            <!--Mail list item-->
                                                            <li class="mail-list-unread mail-starred mail-attach">
                                                                <div class="mail-control">
                                                                    <input id="email-list-2" class="magic-checkbox"
                                                                           type="checkbox">
                                                                    <label for="email-list-2"></label>
                                                                </div>
                                                                <div class="mail-star"><a href="#"><i
                                                                                class="mailbox-psi-star"></i></a></div>
                                                                <div class="mail-from"><a href="#">Dropbox</a></div>
                                                                <div class="mail-time">07:18 AM</div>
                                                                <div class="mail-attach-icon"><i
                                                                            class="mailbox-psi-paperclip"></i></div>
                                                                <div class="mail-subject">
                                                                    <a href="mailbox-message.html">Reset your account
                                                                        password</a>
                                                                </div>
                                                            </li>

                                                            <!--Mail list item-->
                                                            <li class="mail-list-unread">
                                                                <div class="mail-control">
                                                                    <input id="email-list-3" class="magic-checkbox"
                                                                           type="checkbox">
                                                                    <label for="email-list-3"></label>
                                                                </div>
                                                                <div class="mail-star"><a href="#"><i
                                                                                class="mailbox-psi-star"></i></a></div>
                                                                <div class="mail-from"><a href="#">Server Host</a></div>
                                                                <div class="mail-time">01:51 PM</div>
                                                                <div class="mail-attach-icon"></div>
                                                                <div class="mail-subject">
                                                                    <a href="mailbox-message.html">
                                                                            <span class="label label-danger">
                                                                            Busines
                                                                            </span>
                                                                        Regarding to your website issues.
                                                                    </a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <!-- Mail List Ends Here -->
                                                    </div>

                                                    <div class="tab-pane fade" id="social">
                                                        <!--Mail list group-->
                                                        <ul id="mailbox-mail-list" class="mail-list">

                                                            <!--Mail list item-->
                                                            <li class="mail-list-unread mail-attach">
                                                                <div class="mail-control">
                                                                    <input id="email-list-1" class="magic-checkbox"
                                                                           type="checkbox">
                                                                    <label for="email-list-1"></label>
                                                                </div>
                                                                <div class="mail-star"><a href="#"><i
                                                                                class="mailbox-psi-star"></i></a></div>
                                                                <div class="mail-from"><a href="#">Twitter</a></div>
                                                                <div class="mail-time">05:55 PM</div>
                                                                <div class="mail-attach-icon"></div>
                                                                <div class="mail-subject">
                                                                    <a href="mailbox-message.html">This is an example if
                                                                        there is a really really long text. Lorem ipsum
                                                                        dolor sit amet, consectetur adipiscing elit, sed
                                                                        do eiusmod tempor incididunt ut labore et dolore
                                                                        magna aliqua. Ut enim ad minim veniam, </a>
                                                                </div>
                                                            </li>

                                                            <!--Mail list item-->
                                                            <li class="mail-starred">
                                                                <div class="mail-control">
                                                                    <input id="email-list-1" class="magic-checkbox"
                                                                           type="checkbox">
                                                                    <label for="email-list-1"></label>
                                                                </div>
                                                                <div class="mail-star"><a href="#"><i
                                                                                class="mailbox-psi-star"></i></a></div>
                                                                <div class="mail-from"><a href="#">facebook</a></div>
                                                                <div class="mail-time">10:45 AM</div>
                                                                <div class="mail-attach-icon"></div>
                                                                <div class="mail-subject">
                                                                    <a href="mailbox-message.html">You have new friend
                                                                        request</a>
                                                                </div>
                                                            </li>

                                                            <!--Mail list item-->
                                                            <li class="mail-list-unread mail-starred mail-attach">
                                                                <div class="mail-control">
                                                                    <input id="email-list-1" class="magic-checkbox"
                                                                           type="checkbox">
                                                                    <label for="email-list-1"></label>
                                                                </div>
                                                                <div class="mail-star"><a href="#"><i
                                                                                class="mailbox-psi-star"></i></a></div>
                                                                <div class="mail-from"><a href="#">Linkden</a></div>
                                                                <div class="mail-time">07:18 AM</div>
                                                                <div class="mail-attach-icon"><i
                                                                            class="mailbox-psi-paperclip"></i></div>
                                                                <div class="mail-subject">
                                                                    <a href="mailbox-message.html">Reset your account
                                                                        password</a>
                                                                </div>
                                                            </li>

                                                        </ul>

                                                        <!-- Mail List Ends Here -->

                                                    </div>

                                                    <div class="tab-pane fade" id="promotions">

                                                        <!--Mail list group-->
                                                        <ul id="mailbox-mail-list" class="mail-list">

                                                            <!--Mail list item-->
                                                            <li class="mail-list-unread mail-attach">
                                                                <div class="mail-control">
                                                                    <input id="email-list-1" class="magic-checkbox"
                                                                           type="checkbox">
                                                                    <label for="email-list-1"></label>
                                                                </div>
                                                                <div class="mail-star"><a href="#"><i
                                                                                class="mailbox-psi-star"></i></a></div>
                                                                <div class="mail-from"><a href="#">Envato</a></div>
                                                                <div class="mail-time">05:55 PM</div>
                                                                <div class="mail-attach-icon"></div>
                                                                <div class="mail-subject">
                                                                    <a href="mailbox-message.html">This is an example if
                                                                        there is a really really long text. Lorem ipsum
                                                                        dolor sit amet, consectetur adipiscing elit, sed
                                                                        do eiusmod tempor incididunt ut labore et dolore
                                                                        magna aliqua. Ut enim ad minim veniam, </a>
                                                                </div>
                                                            </li>

                                                            <!--Mail list item-->
                                                            <li class="mail-starred">
                                                                <div class="mail-control">
                                                                    <input id="email-list-1" class="magic-checkbox"
                                                                           type="checkbox">
                                                                    <label for="email-list-1"></label>
                                                                </div>
                                                                <div class="mail-star"><a href="#"><i
                                                                                class="mailbox-psi-star"></i></a></div>
                                                                <div class="mail-from"><a href="#">Themeforest</a></div>
                                                                <div class="mail-time">10:45 AM</div>
                                                                <div class="mail-attach-icon"></div>
                                                                <div class="mail-subject">
                                                                    <a href="mailbox-message.html">You have a new
                                                                        message</a>
                                                                </div>
                                                            </li>

                                                            <!--Mail list item-->
                                                            <li class="mail-list-unread mail-starred mail-attach">
                                                                <div class="mail-control">
                                                                    <input id="email-list-1" class="magic-checkbox"
                                                                           type="checkbox">
                                                                    <label for="email-list-1"></label>
                                                                </div>
                                                                <div class="mail-star"><a href="#"><i
                                                                                class="mailbox-psi-star"></i></a></div>
                                                                <div class="mail-from"><a href="#">Codecanyon</a></div>
                                                                <div class="mail-time">07:18 AM</div>
                                                                <div class="mail-attach-icon"><i
                                                                            class="mailbox-psi-paperclip"></i></div>
                                                                <div class="mail-subject">
                                                                    <a href="mailbox-message.html">Reset your account
                                                                        password</a>
                                                                </div>
                                                            </li>

                                                        </ul>

                                                        <!-- Mail List Ends Here -->
                                                    </div>
                                                    {{/*                                                    <div class="tab-pane fade" id="tab4default">Your Desired Content*/}}
                                                    {{/*                                                    </div>*/}}
                                                    {{/*                                                    <div class="tab-pane fade" id="tab5default">Your Desired Content Tab*/}}
                                                    {{/*                                                        5*/}}
                                                    {{/*                                                    </div>*/}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mail List Ends Here -->


                            </div>


                            <!--Mail footer-->
                            <div class="panel-footer clearfix">
                                <div class="pull-right">
                                    <span class="text-muted"><strong class="page-num">1-50</strong> of <strong>{{.Count}}</strong></span>
                                    <div class="btn-group btn-group">
                                        <button class="btn btn-sm btn-default" type="button">
                                            <svg class="xmail-icon" aria-hidden="true">
                                                <use xlink:href="#icon-prepage"></use>
                                            </svg>
                                        </button>
                                        <button class="btn btn-sm btn-default" type="button">
                                            <svg class="xmail-icon" aria-hidden="true">
                                                <use xlink:href="#icon-nextpage"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--===================================================-->
                <!-- END OF MAIL INBOX -->


            </div>
            <!--===================================================-->
            <!--End page content-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->


        <!--ASIDE-->
        <!--===================================================-->
        <aside id="aside-container">
            <div id="aside">
                <div class="nano">
                    <div class="nano-content">

                        <!--Nav tabs-->
                        <!--================================-->
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#contacts" data-toggle="tab">
                                    <i class="mailbox-pli-speech-bubble-7"></i> {{.Locale.contact}}
                                </a>
                            </li>

                            <li>
                                <a href="#settings" data-toggle="tab">
                                    <i class="mailbox-pli-wrench icon-fw"></i> {{.Locale.settings}}
                                </a>
                            </li>

                            <li>
                                <a href="#report" data-toggle="tab">
                                    <i class="mailbox-pli-information icon-fw"></i> {{.Locale.report}}
                                </a>
                            </li>
                        </ul>
                        <!--================================-->
                        <!--End nav tabs-->

                        <!-- Tabs Content -->
                        <!--================================-->
                        <div class="tab-content">

                            <!--First tab (Contact list)-->
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <div class="tab-pane fade in active" id="contacts">
                                <p class="pad-hor mar-top text-semibold text-main">
                                    <span class="pull-right badge badge-warning">1</span> {{.Locale.family}}
                                </p>

                                <!--Family-->
                                <div class="list-group bg-trans">
                                    <a href="#" class="list-group-item">
                                        <span class="badge badge-purple badge-icon badge-fw pull-left"></span> Joey K.
                                        Greyson
                                    </a>
                                </div>

                                <hr>
                                <p class="pad-hor text-semibold text-main">
                                    <span class="pull-right badge badge-success">1</span> {{.Locale.friends}}
                                </p>

                                <!--Works-->
                                <div class="list-group bg-trans">
                                    <a href="#" class="list-group-item">
                                        <span class="badge badge-purple badge-icon badge-fw pull-left"></span> Joey K.
                                        Greyson
                                    </a>
                                </div>

                            </div>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <div class="tab-pane fade" id="settings">
                                <ul class="list-group bg-trans">
                                    <li class="pad-top list-header">
                                        <p class="text-semibold text-main mar-no">Account Settings</p>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="pull-right">
                                            <input class="toggle-switch" id="mailbox-switch-1" type="checkbox" checked>
                                            <label for="mailbox-switch-1"></label>
                                        </div>
                                        <p class="mar-no">Show my personal status</p>
                                        <small class="text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit.</small>
                                    </li>

                                </ul>

                                <hr>

                                <ul class="list-group pad-btm bg-trans">
                                    <li class="list-header"><p class="text-semibold text-main mar-no">Public
                                            Settings</p></li>
                                    <li class="list-group-item">
                                        <div class="pull-right">
                                            <input class="toggle-switch" id="mailbox-switch-4" type="checkbox" checked>
                                            <label for="mailbox-switch-4"></label>
                                        </div>
                                        Online status
                                    </li>

                                </ul>


                            </div>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            <div class="tab-pane fade" id="report">

                                <!--Monthly billing-->
                                <div class="pad-all">
                                    <p class="text-semibold text-main">Billing &amp; reports</p>
                                    <p class="text-muted">Get <strong>$5.00</strong> off your next bill by making sure
                                        your full payment reaches us before August 5, 2016.</p>
                                </div>
                                <hr class="new-section-xs">

                            </div>
                            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!--===================================================-->
        <!--END ASIDE-->

    </div>


    <!-- FOOTER -->
    <!--===================================================-->
    <footer id="footer">

        <!-- Visible when footer positions are fixed -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="pull-right">
            You have <a href="#" class="text-bold text-main"><span class="label label-danger">3</span> pending
                action.</a>
        </div>


        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p class="pad-lft">&#0169; 2020 xmail</p>


    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->



    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
<script>
    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            $('#search').click();
        }
    });
</script>

<script data-cfasync="false" src="/static/js/email-decode.min.js"></script>
</body>
</html>
